.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.clearborder,.clearborder:hover{
  outline: none;
    box-shadow: none;
}

.received-message{

}

.sent-message{
  background-color:  #7471ce;;
}